<div class="space-article">
    <p class="content-header">{{title}}</p>
    <br>
    <p class="content-body">{{description}}</p>

    <!-- button or link or whatever -->
    <!-- <a href="https://www.google.be" class="space-button">Download The Code Now!</a> -->
</div>